<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Cats</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container my-2" align="center">

    <h3>Cat List</h3>
    <a th:href="@{/addNewCat}" class="btn btn-primary btn-sm mb-3" id="add cat button">Add Cat</a>

    <form th:action="@{/getCatByName}" method="GET">
        <input type="text" name="name" placeholder="Cat Name" class="mb-4 col-2">
        <button type="submit" class="btn btn-info">Search for Cat</button>
    </form>

    <div th:if="${error}" class="alert alert-danger" role="alert">
        <p id="home page error alert" th:text="${error}"></p>
    </div>

    <table style="width:80%" border="1" class = "table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Identificator</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="cat:${allCats}">
                <td th:text="${cat.name}" id="cats name field"></td>
                <td th:text="${cat.age}" id="cats age field"></td>
                <td th:text="${cat.identificator}"></td>
                <td>
                    <a th:href="@{/updateCat/{id}(id=${cat.id})}" class="btn btn-primary" id="cat update button">Update</a>
                    <a th:href="@{/deleteCatByName/{name}(name=${cat.name})}" class="btn btn-danger" id="cat delete button">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>
