<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update cat</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Update cat</h1>

    <hr>
        <form action="#" th:action="@{/save}" th:object="${cat}" method="POST">
            <input type="hidden" th:field="${cat.id}">
            <input type="text" th:field="${cat.name}" placeholder="Cat Name" class="form-control mb-4 col-4" required>
            <input type="number" th:field="${cat.age}" placeholder="Cat Age" class="form-control mb-4 col-4" required>
            <button type="submit" class="btn btn-info col-2">Update Cat</button>
        </form>
    <hr>

    <a th:href="@{/}"> Back to Home Page</a>
</div>
</body>
</html>